@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

.maxWidth {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 2%;
}

.hrela{
  position: relative;
  top: 99px;
}

.bgMain{
  background-image: url("../public/mainfazenda.jpg");
  background-size: cover;
  background-position: top;
  height: calc(100vh - 99px);
}

.mainBG {
  width: 100%;
  background: 
  linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, rgb(223, 214, 205) 100%), 
  url(../public/mainfazenda.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: calc(100vh - 80px);
}

.gradient{
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 80%, rgb(223, 214, 205) 100%)
}

.gradientB{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, rgb(223, 214, 205) 100%),
  linear-gradient(to top, rgba(255, 255, 255, 0) 80%, rgb(223, 214, 205) 100%)

}

.productionBG{
  background-image: url("../public/production.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.contactBG{
  background-image: url("../public/bgform.jpg");
  background-size: cover;
}

.contactBG1 {
  width: 100%;
  background: 
  linear-gradient(to top, transparent 80%, rgb(223, 214, 205) 100%), 
  url(../public/bgform.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  

}